* {
  box-sizing: border-box;
}
html {
  background-color: rgb(167, 203, 223);
}
#root {
  margin: 100px;
  display: flex;
  justify-content: center;
}
.container {
  border: 2px solid black;
  width: 80vw;
  height: 80vh;
  text-align: center;
}
.todo-element {
  list-style: none;
  font-size: 40px;
  font-weight: 700;
  margin: 20px;
}
.MuiPaper-root {
  border: 1px solid grey;
  margin: 10px;
}
